* {
    margin: 0;
    font-family: Verdana;
}

#container {
    margin: 100px;
}

#user {
    text-align: right;
}

#menu {
    text-align: center;
}

#menu a {
    margin: 5px;
    padding: 10px;
    background-color: lightgray;
}

#body {
    min-height: 300px;
}

#footer {
    background-color: lightgray;
    text-align: center;
}